/* global styles like font, font size, text color, background color, page margins, etc */

/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: #e7ecef;
    font-family: 'Montserrat', sans-serif;
}

/* headers */

h1, h2, h3 {
    margin-top: 0.8em;
    margin-bottom: 0.67em;
    text-align: center;
}
h1 {
    color: #274c77;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    letter-spacing: 0.06em;
}
h3 {
    color: #777a80;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #6096ba;
    text-align: center;
}
