.pdficons {
    width: 164px;
    height: 164px;
    flex-shrink: 0;
}


.pdficons:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.document-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3%;
}