/* style landing page here */
/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

.landing-page-h1 {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

.landing-page-heading {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
}

.img-logo {
    display: inline-block;
    /* aspect-ratio: 1.01; */
    object-fit: contain;
    width: 250px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin:3%;
}

.center-content {
    text-align: center;
}

.landing-button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3em;
    border-color: #549892;
    border-style:solid;
    background-color: #66a39d;
    font-size: medium;
    font-weight: 900;
    color: white;
    letter-spacing: 0.1em;
    padding: 1em;
    margin: 1em;
}

.landing-button:hover {
    background-color: #78b7b1;
    border-color: #78b7b1;
}

.landing-button:active {
    background-color: #78b7b1;
    border-color: #78b7b1;
    padding: 0.8em;
    margin-bottom: 1.4em;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* styling for the navigation bar */

.nav-logo {
    display: flex;
    width: 250px;
}

.nav-img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 1.5%;
    margin-right: 0px; 
}

.nav-bar {
    background-color:#71a2a6;
    margin: 0.8em;
    padding: 0.6%;
    border-radius: 0.8em;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    display: inline-block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav-bar li:hover {
    border-radius: 3em;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1em;
}
  
.nav-link:hover {
    color: #e7ecef;
}

