.upload-form {
    background-color: white;
    box-sizing: border-box;

    border-style:outset;
    border-color: #d3dee5;
    border-radius: 2em;
    border-width: 0.25em;

    padding: 3%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7%;
}


.upload-label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: large;
}
.file-input{
    display:block;
    margin-top: 0px;
}
.upload-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: medium;

    box-sizing: border-box;
    width: 100%;
    height: 3em;
    margin-bottom: 15px;
    padding: 12px 20px 12px 10px;

    border-radius: 0.5em;
    border-style: solid;
    border-color: #d3dee5;

    transition: width 0.4s ease-in-out;
}

.upload-input:focus {
    width: 95%;
}

.submit-button{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3em;
    border-color: #549892;
    border-style:solid;
    background-color: #66a39d;
    font-size: medium;
    font-weight: 900;
    color: white;
    letter-spacing: 0.1em;
    padding: 1em;
}

.submit-button:hover{
    background-color: #78b7b1;
    border-color: #78b7b1;
}

.submit-button:active {
    background-color: #78b7b1;
    border-color: #78b7b1;
    padding: 0.8em;
    margin-bottom: 0.4em;
}

.solutions-checkbox{
    flex-direction: row;
    display: flex;
    align-content: center;
}

.has-solutions{
    margin-top: 10px;
    margin-right: 10px;
}
